body {
  background-color: rgba(7, 114, 42, 0.349);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

body {
  background-image: url(https://wallpaperaccess.com/full/1464319.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.todo-container {
  background-color: beige;
  max-width: 600px;
  margin-top: 10rem;
  padding: 2rem;
}

.list-heading {
  text-align: center;
}

.mark-done {
  text-decoration: none;
}

.mark-done.done {
  text-decoration: line-through;
}

a {
  color: black;
}

#todos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#todos ul > li {
  padding: 10px 0;
  border-bottom: 1px solid rgb(217, 219, 178);
}

#mass-delete {
  margin-top: 5px;
  padding: 10px;
  border-radius: 13px;
}

.edit-mode {
  background-color: rgb(238, 231, 231);
}

#add-new-todo {
  background-color: rgb(42, 92, 26);
  color: #fff;
  font-style: italic;
}
